*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: rgb(243, 240, 237); */
    color: rgb(117, 107, 107);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: white;
}
li{
   display: inline-block;
   text-decoration: none;
   margin: 30px;
   padding: 3px;
   background-color: white;
}
ul{
    background-color: white;}
.acc {
    border-radius: 7px;
    padding: 20px;
    background-color: rgb(255, 197, 88);
    color: white;
    margin-right: 20px;
    width: 250px;
}
.acc:hover{
    background-color: rgb(180, 130, 38);
}

h2{
    text-align: center;
    background-color: white;
    color: blue;
    font-family: 'Uchen', serif;
    font-size: 40px;
    font-weight: 1200;
}
.top{
    font-size: 20px;
    margin-left: 90px;
}

input{
    border: 1px solid ;
    width: 100%;
    padding: 13px 16px;
    background-color: white;
}


.small{
    justify-content: center;
    background-color: white;
    max-width: 400px;
    height: 450px;
    margin: auto;
    padding: 18px;
    margin-top: 100px;
    box-shadow: 5px 10px 18px #d2d1d1;
    border-radius: 10px;
}
strong,span,h3,label{
    background-color: white;
}
h3{
    margin: 23px 0;
    text-align: left;
    font-size: 14px;
}

.logo2{
    align-items: center;
}
h1{
    text-align: center;
    font-size: 10px;
    color: black;
    background-color: white;
    margin-bottom: 30px;
    margin-top: 30px;
}
.reset{
    font-size: 12px;
}

.love{
    color: rgb(255, 197, 88);
}
.login{
    background-color: rgb(255, 197, 88);
    color: white;
    padding: 9px;
    width: 358px;
    margin: 0 7px;
    border-radius: 7px;
}
.account{
    color: rgb(255, 197, 88);
}
/* label{
    margin-bottom: 0px;
} */
input#password{
    margin-top: 0;
}

.div {
    display: inline-block;
    width: 100%;
    background-color: #fff;
}

.label-text{
    padding-bottom: 10px;
}

.div-left {
    display: inline-block;
}

.div-right {
    background-color: #fff;
    display: block;
    margin-left: 160px;
}


@media only screen and (max-width: 770px)  {

    .top{
    font-size: 10px;
    margin-left: 30px;
}

.acc {
  
    padding: 8px;
    margin-right: 20px; 
    width: 120px;
}

li{
    margin: 15px;
    padding: 1px;
    background-color: white;
}

.small{
    max-width: 400px;
    height: 450px;
    margin: auto;
    padding: 18px;
    margin-top: 70px;
    box-shadow: 5px 10px 18px #d2d1d1;
    border-radius: 10px;
}
}